# IDEs
.vscode/
.idea/

# Intermediate Coverage file
.coverage

# Output files
*.png
*.jpg

# Temporary Datasets and Plots
data
plots
.data/
.plots/

# Python runtime
*.pyc
*.egg-info
.pytest_cache

# Virtual environments
venv/
.venv/